<div id="main_content">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="hero-unit">
                <h1>My Single Page Application</h1>
                <p>Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset1 span5">
            <h2>Professionals</h2>
            <p>Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
            <p><a class="btn" href="#home/">View details &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Businesses</h2>
            <p>Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
            <p><a class="btn" href="#home/">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset1 span5">
            <h2>Businesses</h2>
            <p>Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
            <p><a class="btn" href="#home/">View details &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Professionals</h2>
            <p>Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
            <p><a class="btn" href="#home/">View details &raquo;</a></p>
        </div>
    </div>
</div>
