<div>
    <div class="span4 well well-large" id="Login">
        <fieldset title="Please Sign In">
        <legend>Please Sign In</legend>
            <input id="username" name="Username" type="text" class="input-block-level" placeholder="Email address" data-bind="value: model.username"/>
            <span class="k-invalid-msg alert alert-error" data-for="userName"></span>
            
            <input id="password" name="Password" type="password" class="input-block-level" placeholder="Password" data-bind="value: model.password"/>
            <span class="k-invalid-msg alert alert-error" data-for="userPassword"></span>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" data-bind="value: rememberMe"/>
                Remember me
            </label>
            <button id="button_login" class="btn btn-large btn-primary" data-bind="click: signIn">
                Sign in
            </button>
        </fieldset>
    </div>
</div>
