<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SharedLibraries" value="D:\SharedLibraries\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GL.Web.Service">
        <endpoint address=""
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="GL.Web.IService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>